{% extends "/masterpage/admin.html" %}
{% block content %}
<div class="mt-5 container">
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
            <button class="btn btn-outline-success float-end" onclick="save_table_order();">Save Order</button>
            Settings
        </div>
    </div>
    <div id="example-table"></div>
</div>

<input type="hidden" id="hf_id">

<script>
    var table = new Tabulator("#example-table", {
        layout: "fitColumns",
        movableRows: true,
        rowHeader: { headerSort: false, resizable: false, minWidth: 30, width: 30, rowHandle: true, formatter: "handle" },
        columns: [ //Define Table Columns
            { title: "ID", field: "id", width: 150, visible: false },
            { title: "measurement_name", field: "measurement_name", visible: false },
            { title: "display_order", field: "display_order", visible: false },
            { title: "category", field: "category", width: 150, headerFilter: "input", editor: true, cellEdited: function (cell) { editvalues(cell.getRow().getData()); } },
            { title: "name", field: "display_name", headerFilter: "input", editor: true, cellEdited: function (cell) { editvalues(cell.getRow().getData()); } },
            { title: "display", field: "display_yn", width: 100, hozAlign: "center", formatter: "tickCross", sorter: "boolean", editor: true, cellEdited: function (cell) { editvalues(cell.getRow().getData()); } },
        ],
    });

    table.on("rowMoved", function (row) {
        console.log("Row: " + row.getData().id + " has been moved");

    });

    $(document).ready(function () {
        loaddata();
    });

    function loaddata() {
        var ajaxConfig = {
            method: "POST",
            headers: {
                "Content-type": 'application/json; charset=utf-8',
            },
        };
        table.setData("/measurements_json");
    }

    async function editvalues(rowInfo) {
        try {
            // console.log("Row data to be updated:", rowInfo);
            const response = await fetch("/update_measurement", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(rowInfo)
            });

            if (response.ok) {
                const data = await response.json();
                console.log("Successful:", data);
            } else {
                const errorText = await response.text();
                console.error("Error:", errorText);
            }
        } catch (error) {
            console.error("Network Error:", error);
        }
    }

    async function save_table_order() {
        var reportLinkRefs = table.getData().map(function (row) {
            return row.id;
        });
        var jsonString = JSON.stringify(reportLinkRefs);

        try {
            const response = await fetch("/update_measurement_order", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: jsonString
            });

            if (response.ok) {
                const data = await response.json();
                console.log("Successful:", data);
            } else {
                const errorText = await response.text();
                console.error("Error:", errorText);
            }
        } catch (error) {
            console.error("Network Error:", error);
        }
    }
</script>
</div>
{% endblock %}